name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the code
    - uses: actions/checkout@v2
    
    - name: run lint
      run: ./gradlew lintDebug

    - name: Upload html report
      uses: actions/upload-artifact@v2
      with:
        name: index.html
        path: |
            app/build/reports/lint-results-debug.html
