name: CI
on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the code
      uses: actions/checkout@v3
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: run lint
      run: ./gradlew lintDebug

    - name: Upload html report
      uses: actions/upload-artifact@v3
      with:
        name: lint.html
        path: app/build/reports/lint-results-debug.html

  unit-test:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v3

      - name: Run tests
        uses: ./gradlew test

      - name: upload test report
        uses: actions/upload-artifact@v3
        with:
          name: unit_test_report
          path: app/build/reports/tests/testDebugUnitTest

